<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a href="index.html" class="auth-logo mb-5 d-block">
            <img
              src="assets/images/logo-dark.png"
              alt=""
              height="30"
              class="logo logo-dark"
            />
            <img
              src="assets/images/logo-light.png"
              alt=""
              height="30"
              class="logo logo-light"
            />
          </a>
          <h4>Sign in</h4>
          <p class="text-muted mb-4">Sign in to continue to Chatvia.</p>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">
              <div class="mb-3">
                <label class="form-label" for="contactNumber"
                  >Contact Number*</label
                >
                <div class="input-group mb-3 bg-light-subtle rounded-3">
                  <span class="input-group-text text-muted" id="basic-addon3"
                    ><i class="ri-user-2-line"></i
                  ></span>
                  <input
                    type="text"
                    [(ngModel)]="contactNumber"
                    name="contactNumber"
                    class="form-control form-control-lg border-light bg-light-subtle"
                    placeholder="Enter Contact Details"
                    aria-label="Enter Contact Details"
                    aria-describedby="basic-addon3"
                    id="contactNumber"
                  />
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="signUpOtp">Otp*</label>
                <div class="input-group mb-3 bg-light-subtle rounded-3">
                  <span class="input-group-text text-muted" id="basic-addon4"
                    ><i class="ri-lock-2-line"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control form-control-lg border-light bg-light-subtle"
                    [(ngModel)]="signUpOtp"
                    name="signUpOtp"
                    placeholder="Enter Otp"
                    aria-label="Enter Otp"
                    aria-describedby="basic-addon4"
                    id="signUpOtp"
                  />
                </div>
              </div>
              <div class="form-check mb-4">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="remember-check"
                />
                <label class="form-check-label" for="remember-check"
                  >Remember me</label
                >
              </div>
              <div class="d-grid">
                <button
                  class="btn btn-primary waves-effect waves-light"
                  type="submit"
                  (click)="onSubmit()"
                >
                  Sign in
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Don't have an account ?
            <a href="auth-register.html" class="fw-medium text-primary"
              >Signup now</a
            >
          </p>
          <p>
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Tech GeoMatery. Crafted with
            <i class="mdi mdi-heart text-danger"></i> by Tech GeoMatery
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
